
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');



.header{
    background-color: #8E82AF;
    font-family: 'Monoton', cursive;
    width: 100%;
    min-height: 100vh;
}

.header h1{
    font-size: 75px;
    
}

.header-text p{
    font-size: 20px;
    color: #ffffff;
}

.header-text{
    height: 250px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 100px;
}

.container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8E82AF;
    
}

.right-box{
    width: 70%;
    background-color: #CBCC41;
    text-align: center;
    height: 700px;
    padding-left: 100px;
    padding-top: 100px;
}

.right-box text{
    text-align: center;
    line-height: 50px;
}

.right-box p{
    color: #ffffff;
    text-decoration: underline;
}


.left-box{
    width: 30%;
    padding: 50px;
    display: flex;
    background-color: #ffffff;
    padding-top: 200px;
    margin-bottom: 135px;
}

.mid-box img{
	max-height: 100%;
	margin-top: 20%;
    border-radius: 15px;
}

